.section{
       color: #16e9c6be;
       font-weight: bold;
}
.action{
    color: rgb(109, 233, 109);
}
.para{
    color: rgb(175, 175, 175);
}
.para2{
    background-color: #16e9c6be ;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.button{
    font-weight: bold;
    color: white;
    background-color: rgba(153, 255, 0, 0.664);
    border: none;
    padding: 15px 80px;
    text-align: center;
    border-radius: 5px;
}